/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: minmax(0, auto);
        grid-template-areas: 
        'hdr hdr hdr'
        'mnu mnu mnu'
        'con con con';
        column-gap: 5px;
        row-gap: 25px;
        background-color: black;
        padding-left: 5%;
        padding-right: 5%;
    }

    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: x-large;
        margin-top: 2px;
        margin-bottom: 2px;
    } 

    .bottom2 {
        position: absolute;
        bottom: 0;
        padding-bottom: 60px;
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: minmax(0, auto);
        grid-template-areas: 
        'hdr hdr hdr'
        'mnu mnu mnu'
        'con con con';
        column-gap: 5px;
        row-gap: 25px;
        background-color: black;
        padding-left: 5%;
        padding-right: 5%;
    }

    h1 {
        font-size: 72px;
    }

    h3 {
        font-size: xx-large;
        margin-top: 2px;
        margin-bottom: 2px;
    } 

    .bottom2 {
        position: absolute;
        bottom: 0;
        padding-bottom: 30px;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: minmax(0, auto);
        grid-template-areas: 
        'hdr hdr hdr'
        'mnu mnu mnu'
        'con con con';
        column-gap: 5px;
        row-gap: 25px;
        background-color: black;
        padding-left: 5%;
        padding-right: 5%;
    }

    h1 {
        font-size: 96px;
    }

    /* h3 {
        font-size: x-large;
        margin-top: 2px;
        margin-bottom: 2px;
    }  */

}

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: minmax(0, auto);
        grid-template-areas: 
        'hdr hdr hdr'
        /* 'mnu mnu mnu' */
        'mnu con .  ';
        column-gap: 5px;
        row-gap: 25px;
        background-color: black;
        padding-left: 5%;
        padding-right: 5%;
    }

   h3 {
       font-size: xx-large;
       margin-top: 1em;
       margin-bottom: 1em;
   } 
}
